

.card-frame-desk{

    display: inline-block;
    margin: 1% 3%;
    width: fit-content;
    box-shadow: 2px 2px 2px 2px #a8adf3;
    text-align: center;
    padding: 4vh;
    transition: background-color .3s, box-shadow .3s;
    cursor: pointer;
}   

.card-frame-desk:hover{
   background-color: #9af8fc;
   box-shadow: 2px 2px 2px 2px #9af8fc;
}


.card-img-desk{
    width: 37vh;
 
}

