.card-img-desk{
    width: 30vh;
 
}

.card-frame-desk{

    display: inline-table;
    margin: 1% 1%;
    width: 400px;
    height: 80vh;
    border: 2px solid black;
    text-align: center;
    padding: 0% 0% 5% 0%;
}

.data-frame-desk{
    display: inline-block; 

}
.star-img-desk{
    width: 25px ;
}

.star-txt-desk{
    display: inline;
    font-size: 30px;
}



.stat-txt-desk{
    display: inline;
    font-size: 20px;
}

.card-name-desk{
    font-size: 3vh;
}

