.card-frame-mob{
    max-width: 90%;
    border: 2px solid black;
    text-align: center;
    padding: 0% 0% 5% 0%;
    margin: 4%;
}
.card-img-mob{
    width: 70%;
 
}


.data-frame-mob{
    display: inline-table; 

}
.star-img-mob{
    width: 25px;
}

.star-txt-mob{
    display: inline;
    font-size: 35px;
}



.stat-txt-mob{
    display: inline;
    font-size: 30px;
}

.card-name-mob{
    font-size: 25px;
}

